html {
  height: 100%;
  background-image: none;
  background-color: none;
}

.centered {
  position: fixed;
  top:35%;
  left:45%;
  margin-top: -50px;
  margin-left: -100px;
}

.img {
  height: 50%;
}
