<div class="welcome-page">
  <h1 class="title">{{title}}</h1>
  <div class="colors-div">
    <div>
      <label class="label">{{pullLabel}}</label>
      <button  class="btn" (click)="pickColor('pull')" [style.backgroundColor]="pullColor"></button>
    </div>
    <div>
      <label  class="label">{{pushLabel}}</label>
      <button  class="btn" (click)="pickColor('push')" [style.backgroundColor]="pushColor"></button>
    </div>
  </div>
  <div class="play-div">
    <button class="play-btn" [disabled]="isLocked" (click)="sendBackgrounds()">{{play}}</button>
  </div>
</div>
